@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-color: #xxxxxx;
    --secondary-color: #xxxxxx;
    --accent1-color: #xxxxxx;
    --accent2-color: #xxxxxx;

    --heading-font: '_______', serif;
    --paragraph-font: '_______', serif;

    --nav-background-color: #xxxxxx;
    --nav-link-color: #xxxxxx;
    --nav-hover-link-color: #xxxxxx;
    --nav-hover-background-color: #xxxxxx;
}
h1, h2, p {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
